<section class="tourGuid">

    <div class="service-count col-md-3" data-aos="fade-up" data-aos-anchor-placement="center-bottom"
        data-aos-duration="300">
        <div class="icon" data-aos="fade-up" data-aos-duration="350">
            <i class="fa-solid fa-earth-asia"></i>
        </div>
        <article data-aos="fade-up" data-aos-duration="400">
            <span>46</span>
            <p> Tour Guide </p>
        </article>
    </div>

    <table class="table table-striped table-hover" data-aos="fade-up" data-aos-anchor-placement="center-bottom"
        data-aos-duration="300">
        <thead data-aos="fade-up" data-aos-anchor-placement="center-bottom" data-aos-duration="350">
            <td>Id</td>
            <td>Name</td>
            <td>Country</td>
            <td>Age</td>
            <td>Languages</td>
            <td>Edit</td>
            <td>Delete</td>
        </thead>
        <tbody>
            <tr data-aos="fade-up" data-aos-anchor-placement="center-bottom" data-aos-duration="400">
                <td>12</td>
                <td>Ayman</td>
                <td>Egypt</td>
                <td>27</td>
                <td>
                    <ul>
                        <li>Ar</li>
                        <li>Eng</li>
                    </ul>
                </td>

                <td><button class="orangeBtn">Edit</button></td>
                <td><button class="redBtn">Delete</button></td>
            </tr>
            <tr data-aos="fade-up" data-aos-anchor-placement="center-bottom" data-aos-duration="400">
                <td>175</td>
                <td>Mark</td>
                <td>Germany</td>
                <td>25</td>
                <td>
                    <ul>
                        <li>Fr</li>
                        <li>Eng</li>
                    </ul>
                </td>
                <td><button class="orangeBtn">Edit</button></td>
                <td><button class="redBtn">Delete</button></td>
            </tr>
        </tbody>
    </table>
</section>