<section class="dashboard">
  <div class="container">
    <div class="row">
      <div class="service-count col-md-3" data-aos="fade-up" data-aos-anchor-placement="center-bottom"
        data-aos-duration="200">
        <div class="icon" data-aos="fade-up" data-aos-duration="250">
          <i class="fa-solid fa-users"></i>
        </div>
        <article data-aos="fade-up" data-aos-duration="300">
          <span>{{statistics.usersCount }}</span>
          <p> Users </p>
        </article>
      </div>
      <div class="service-count col-md-3" data-aos="fade-up" data-aos-anchor-placement="center-bottom"
        data-aos-duration="500">
        <div class="icon" data-aos="fade-up" data-aos-duration="550">
          <i class="fa-solid fa-hotel"></i>
        </div>
        <article data-aos="fade-up" data-aos-duration="600">
          <span>{{statistics.hotelCount }}</span>
          <p> Hotels </p>
        </article>
      </div>
      <div class="service-count col-md-3" data-aos="fade-up" data-aos-anchor-placement="center-bottom"
        data-aos-duration="800">
        <div class="icon" data-aos="fade-up" data-aos-duration="850">
          <i class="fa-solid fa-plane"></i>
        </div>
        <article data-aos="fade-up" data-aos-duration="900">
          <span>{{statistics.flightCount }}</span>
          <p> Flights </p>
        </article>
      </div>
    </div>
    <div class="row">
      <div class="service-count col-md-3" data-aos="fade-up" data-aos-anchor-placement="center-bottom"
        data-aos-duration="500">
        <div class="icon" data-aos="fade-up" data-aos-duration="550">
          <i class="fa-solid fa-hotel"></i>
        </div>
        <article data-aos="fade-up" data-aos-duration="600">
          <span>{{statistics.bookedHotels }}</span>
          <p> Booking Hotels </p>
        </article>
      </div>
      <div class="service-count col-md-3" data-aos="fade-up" data-aos-anchor-placement="center-bottom"
        data-aos-duration="800">
        <div class="icon" data-aos="fade-up" data-aos-duration="850">
          <i class="fa-solid fa-plane"></i>
        </div>
        <article data-aos="fade-up" data-aos-duration="900">
          <span>{{statistics.flightBookingCount }}</span>
          <p> Booking Flights </p>
        </article>
      </div>
      <div class="service-count col-md-3" data-aos="fade-up" data-aos-anchor-placement="center-bottom"
        data-aos-duration="500">
        <div class="icon" data-aos="fade-up" data-aos-duration="550">
          <i class="fa-solid fa-snowman"></i>
        </div>
        <article data-aos="fade-up" data-aos-duration="600">
          <span>{{statistics.bookedHolidaysCount }}</span>
          <p> Booking Holidays </p>
        </article>
      </div>
    </div>
    <div class="row">
      <div class="service-count col-md-6" data-aos="fade-up" data-aos-anchor-placement="center-bottom"
        data-aos-duration="500">
        <div class="icon" data-aos="fade-up" data-aos-duration="550">
          <i class="fa-solid fa-city"></i>
        </div>
        <article data-aos="fade-up" data-aos-duration="600">
          <span>{{statistics.cityCount }}</span>
          <p> Cities </p>
        </article>
      </div>
      <div class="service-count col-md-6" data-aos="fade-up" data-aos-anchor-placement="center-bottom"
        data-aos-duration="800">
        <div class="icon" data-aos="fade-up" data-aos-duration="850">
          <i class="fa-regular fa-comments"></i>
        </div>
        <article data-aos="fade-up" data-aos-duration="900">
          <span>{{statistics.feedbackCount }}</span>
          <p> Feedbacks </p>
        </article>
      </div>

    </div>
  </div>


</section>
