<section class="users">
  <div class="service-count col-md-3" data-aos="fade-up" data-aos-anchor-placement="center-bottom"
    data-aos-duration="300">
    <div class="icon" data-aos="fade-up" data-aos-duration="350">
      <i class="fa-solid fa-users"></i>
    </div>
    <article data-aos="fade-up" data-aos-duration="400">
      <span>{{statistics.usersCount }}</span>
      <p> Users </p>
    </article>
  </div>

  <table class="table table-striped table-hover" data-aos="fade-up" data-aos-anchor-placement="center-bottom"
    data-aos-duration="300">
    <thead data-aos="fade-up" data-aos-anchor-placement="center-bottom" data-aos-duration="350">
      <td>#</td>
      <td>Name</td>
      <td>Country</td>
      <td>Username</td>

      <td></td>
    </thead>
    <tbody>
      <ng-container *ngFor="let user of users ; let i = index">
        <tr data-aos-anchor-placement="center-bottom" data-aos-duration="400">
          <td>{{i+1}}</td>
          <td>{{user.firstName}}</td>
          <td>{{user.country}}</td>
          <td>{{user.username}}</td>
          <td><button class="redBtn" (click)="removeUser(user._id)">Delete</button></td>
        </tr>
      </ng-container>
    </tbody>
  </table>

</section>
